<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quietspacefinder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFD6E3662D6A0EDD0009EC21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFD6E3772D6A0EDE0009EC21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFD6E3812D6A0EDE0009EC21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
